@font-face {
    font-family: 'domoaregatonormal';
    src: url('../samuraiFont/domoaregatonormal-q2jr-webfont.woff2') format('woff2'),
         url('../samuraiFont/domoaregatonormal-q2jr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
/* 
.floatLeft { width: 50%; float: left; }
.floatRight {width: 50%; float: right; }
.container { overflow: hidden; } */

.rowC{display:flex; flex-direction:row;}

form {
    display: inline-block; 
}

ul {
    list-style-type:none;
    /* width:100%; */
}

.symbol{
    float:right;
}


.results{
    float:right;
    margin-left:400px;
    width:500px;
}



h3.panel-title{
    font-size: 8em;
}