@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body {
  margin: 0;
  font-size: 1.5em;
  background-color: #427a42
  ;
  font-family: 'Spartan', ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

a:hover{
  color:gray;
  text-decoration: none;
}

.panel-title{
  text-align: center;
  padding:30px;
  font-size:4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand{
  font-size:1.5em;
}